/* Fonts */
body {
    font-family: 'Inter', sans-serif;
    background: #0a0a0a;
    color: #ededed;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.nav-link {
    transition: 0.3s;
    letter-spacing: 0.15em;
}

.nav-link:hover {
    color: #3b82f6;
}

/* ANIMATION HEADER */
.reveal {
    animation: slideIn 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* COMPÉTENCES */
.card-skill {
    background: #0d0d0d;
    border: 1px solid #1a1a1a;
    padding: 2.5rem;
    transition: all 0.4s ease;
}

.card-skill:hover {
    border-color: #3b82f6;
    background: #111;
    transform: translateY(-5px);
}

.card-skill h3 {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* RÉALISATIONS */
.project-card {
    background: #0d0d0d;
    border: 1px solid #1a1a1a;
    padding: 2rem;
    transition: all 0.4s ease;
}

.project-card:hover {
    border-color: #3b82f6;
    background: #111;
    transform: translateY(-5px);
}

.project-image {
    overflow: hidden;
    border-radius: 10px;
}

.project-card p {
    margin-bottom: 4px;
    color: #aaa;
    font-size: 0.9rem;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    object-fit: cover;
    transition: 0.4s;
}

.hidden-text {
    margin-top: 0;
    padding-top: 25px;
    color: #aaa;
    font-size: 0.9rem;
    line-height: 1.6;
}

.project-card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

/* BOUTON PROJET */
.project-card a {
    margin-top: 10px;
    display: inline-block;
    color: #3b82f6;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.project-card img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.hidden {
    display: none;
} 

/* LANGUES (barres) */
.bar {
    height: 6px;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
}

.bar-fill {
    height: 100%;
    background: #3b82f6;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
}